* {
  box-sizing: border-box;
  font-family: 'Roboto Mono', 'Courier New', Courier, monospace
}
html {
  /* background-color:rgba(214, 228, 21, 0.3); */
  background-color:black;

}
html,
body,
#root,
.container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 30px;
  height: 100vh;
}
#canvas {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  mix-blend-mode: exclusion;
}
section {
  height: 100vh;
}
h1 {
  text-transform: lowercase;
  letter-spacing: 4px;
  font-size: 30px;
}
.title {
  flex-grow: 1;
}
.list {
  flex-grow: 3;
  letter-spacing: 2px;
  font-size: 20px;
  color: darkslategray;
  display: flex;
  justify-content: flex-start;
  writing-mode: vertical-rl;
  align-items: flex-end;
}
.list a {
  margin-top: 10vh;
  z-index: 1;
}