* {
  box-sizing: border-box;
  font-family: 'Roboto Mono', 'Courier New', Courier, monospace
}
html {
  /* background-color:rgba(214, 228, 21, 0.3); */
  background-color:black;

}
html,
body,
#root,
.container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 30px;
  height: 100vh;
}
#canvas {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  mix-blend-mode: exclusion;
}
section {
  height: 100vh;
}
h1 {
  text-transform: lowercase;
  letter-spacing: 4px;
  font-size: 30px;
}
.title {
  flex-grow: 1;
}
.list {
    flex-grow: 3;
    letter-spacing: 2px;
    font-size: 20px;
    display: flex;
    /* justify-content: space-evenly; */
    /* writing-mode: vertical-rl; */
    flex-direction: column;
    /* align-items: flex-end; */
}
.list * {
  margin-top: 10vh;
  font-size: 30px;
  z-index: 1;
  text-decoration: none;
  color: grey;
  letter-spacing: 4px;
  transform: rotate(30deg);
  /* opacity: 0.5; */
}
.list a:hover {
  /* color: #179ff4; */
  color:white;

}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
}